
{{#if newArray}}
    {{#each newArray}}
<div class="movie_card" id="bright">
    <div class="info_section">
      <div class="movie_header">
        {{!-- <img class="locandina" src={{poster}}/> --}}
        <h1><a class="clean-a2" href="/favorites-details/{{imdbid}}">{{title}}</a></h1>
        <h4>{{year}}</h4>
      </div>
      <div class="movie_desc">
      </div>
      <div class="movie_social">
        <ul>
          {{!-- <li><a class="material-icons" href="/movies/{{imdbid}}"></a>Details</li> --}}
        </ul>
      </div>
    </div>
    <a href="/movies-details/{{imdbid}}"><img class="blur_back" src="{{poster}}" alt=""></a>

  </div>
    {{/each}}
    {{else}}
    <h2 class="white-msg">No favorites yet, search for some movies</h2>
{{/if}}