<h1 class="color-white">
    Welcome, {{userDetail.username}}
</h1>
{{!-- LOGOUT BONITINHO - BOTÃO --}}
                <form action="/logout" method="POST">
                    <button class="btn btn-danger" type="submit">Logout</button>
                </form>
<img src="{{userDetail.image}}" alt="">

<p class="color-white">Wanna have some matches? </p>

<form action="/auth/{{userDetail._id}}" method="POST">

    <label class="color-white" for="">Date</label>
    <input type="text" name="date" value={{userDetail.date}}>
    <button class="btn-update color-white" type="submit">Update</button>
</form>

<h2>

</h2>

{{#if errorMessage}}
    <p class="color-white">{{errorMessage}}</p>
{{/if}}