<h1>TEST FEELING LUCKY</h1>

{{!-- <h1>Movies Details</h1>
{{#gt movieDetails.rating 5}}
<div>Maior que 5</div> --}}
{{!-- FUNCIONANDO
LEMBRAR DE:
TROCAR A BORDA DOS CARDS DEPENDENDO DA NOTA
AJEITAR PRA TER UM TAMANHO FIXO DE FOTO PRA QUE ELA NÃO DIMINUA/SUMA    

 --}}
{{!-- {{/gt}} --}}
    {{#each arrayFavDate}}
<div class="movie_card" id="bright">
    <div class="info_section">
      <div class="movie_header">
        {{!-- <img class="locandina" src={{poster}}/> --}}
        <h1><a class="clean-a2" href="/feeling-lucky-details/{{imdbid}}">{{title}}</a></h1>
        <h4>{{year}}</h4>
      </div>
      <div class="movie_desc">
      </div>
      <div class="movie_social">
        <ul>
          {{!-- <li><a class="material-icons" href="/movies/{{imdbid}}"></a>Details</li> --}}
        </ul>
      </div>
    </div>
    <img class="blur_back" src="{{poster}}" alt="">

  </div>
    {{/each}}
{{#if testMatch}}
<div class="container">
      <input type="checkbox" id="check">
      <label class="show_button" id="check" for="check">Click Me</label>
      <div class="background"></div>
      <div class="alert_box">
        <div class="icon">
            <i class="far fa-heart"></i>
        </div>
        <header>Yes!</header>
        <p>You have a Matchflix!</p>
        <div class="btns">
          <label for="check">Continue</label>
        </div>
      </div>
    </div>

    
    <script>
    window.onload = function(){
        const button = document.getElementById('check');
        button.click()
    }
    </script>
{{/if}}