<h1>Movie List</h1>
{{!-- {{#each test.results}}

<p>{{title}}</p>

{{/each}}
 --}}
<div class="row">
    {{#each test.results}}
<div class="col-md-4">
    <div class="card cards-flex">
        <img class="card-img-top" src="{{poster}}" alt="{{title}}" />
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            {{!-- <a href="/albums/{{id}}">View albums</a> --}}
        </div>
    </div>
</div>
{{/each}}
</div>