<h1>Movies Details</h1>
<div class="row">
<div class="col-md-4">
    <div class="card cards-flex">
        <img class="card-img-top" src="{{movieDetails.poster}}" alt="{{movieDetails.title}}" />
        <div class="card-body">
            <h5 class="card-title">{{movieDetails.title}}</h5>
            <ul>
                <li>
                    Year: {{movieDetails.year}}
                </li>
                <li>
                    Runtime: {{movieDetails.runtime}}
                </li>
                <li>
                    Rating: {{movieDetails.rating}}/10
                </li>
                <li>
                    Plot: {{movieDetails.plot}}
                </li>
            </ul>
            <a href="/movies-search">Search Movies</a>
        </div>
    </div>
</div>