<h1>Movies Search</h1>

{{#if searchResult}}
    {{#each searchResult.results}} 
<div class="movie_card" id="bright">
    <div class="info_section">
      <div class="movie_header">
        {{!-- <img class="locandina" src={{poster}}/> --}}
        <h1><a class="clean-a2" href="/movies-details/{{imdbid}}">{{title}}</a></h1>
        <h4>{{year}}</h4>
      </div>
                  {{#if testToDelete}}
            <form action="/favorites-details/{{imdbid}}/delete" method="POST">
                <button class="del-button" type="submit"><img class="del-button fixing-buttons z-heart" src="/images/waste.png" alt="saas"></button>
            </form>
            {{else}}
            <form action="/favorites-details/{{imdbid}}/delete" method="POST">
                <button class="del-button" type="submit"><img class="del-button fixing-buttons z-heart" src="" alt=""></button>
            </form>
            {{/if}}
        </div>
        <div>
            {{#if greyFav}}
            <form action="/favorites/{{imdbid}}/add" method="POST">
                <button class="fav-button new-fav" type="submit"><img class="logo-button fixing-heart z-heart" src="/images/heart1-grey.png" alt="saas"></button>
            </form>
            {{else}}
            <form action="/favorites/{{imdbid}}/add" method="POST">
                <button class="fav-button new-fav" type="submit"><img class="logo-button fixing-heart coloured-heart z-heart" src="/images/heart1.png" alt="saas"></button>
            </form>
            {{/if}}
      <div class="movie_desc">
      </div>
      <div class="movie_social">
        <ul>
          {{!-- <li><a class="material-icons" href="/movies/{{imdbid}}"></a>Details</li> --}}
        </ul>
      </div>
    </div>
    <a href="/movies-details/{{imdbid}}"><img class="blur_back" src="{{poster}}" alt=""></a>
  </div>
{{/each}}
</div>

{{/if}}



{{#if testMatch}}
<div class="container">
      <input type="checkbox" id="check">
      <label class="show_button" id="check" for="check">Click Me</label>
      <div class="background"></div>
      <div class="alert_box">
        <div class="icon">
            <i class="far fa-heart"></i>
        </div>
        <header>Yes!</header>
        <p>You have a Matchflix!</p>
        <div class="btns">
          <label for="check">Continue</label>
        </div>
      </div>
    </div>

    
    <script>
    window.onload = function(){
        const button = document.getElementById('check');
        button.click()
    }
    </script>
{{/if}}

